body {
    margin: 0px;
    
}
.hidden {
    display: none !important;
    animation: fadeIn 1s ease-in;

}
h1 {
    font-size: 5rem;
    
}
.winner {
    display: flex;
    justify-content: center ;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
@keyframes fadeIn {
    from   {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
button{
    display: flex;
    justify-content: center ;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 10vh;
    width: 10vw;
    background-color: transparent;

}